 /*************************************************** Home_screen_wallpaper ***************************************************/

@-moz-document url("about:newtab"), url("about:home") {
    #root {
        background-image: url("newtab/wallpaper-dark6.png") !important;
        background-size:  cover !important;
    }
}


/* Set background image for the settings (preferences) page */
@-moz-document url("about:preferences") {
    body {
        background: url("newtab/wallpaper-dark6.png") !important;
        background-size: cover;
        /* background-color: #f0f0f050 !important; */
    }
    
  }

